.linkStyle {
    color: black !important;
  }
  .linkStyle:hover {
    opacity: 0.5;
  }
  .containerStyle {
    padding: 8px;
    display: flex;
  }
  .textStyle {
    width: 55%;
    text-decoration: underline;
    font-weight: 200 !important;
  }
  .textStyle:hover {
    opacity: 0.5;
    text-decoration: none;
  }
  .containerText {
    justify-content: center;
  }
  .iconGreenStyle {
    color: Green;
    margin: 0 5rem;
    width: 10% !important;
    height: 1em !important;
  }
  .iconOrangeStyle {
    color: Orange;
    margin: 0 5rem;
    width: 10% !important;
    height: 1em !important;
  }